:root {
  --min-allowed-width: 150px;
}

.main-container {
    margin: 2%;
    text-align: left;
}

.main-container .btn-container {
    position: relative;
    text-align: center;
}

.main-container .btn-container button,
.main-container .btn-container button:focus {
    border: none;
    background-color: transparent;
    outline: none;
    margin: 1%;
}

.main-container .btn-container button:hover {
    cursor: pointer;
    transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
}

.main-container #img-container {
    max-width: var(--min-allowed-width);
    overflow: hidden;
}

.main-container #img-container img {
    max-width: initial;
}